<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="yqlSettings" type="YQLDataProvider.Configuration.YqlSettingsConfigurationSection,YQLDataProvider" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <yqlSettings baseUri="http://query.yahooapis.com/v1/public/yql" urlPostfix="env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys" isExtendedTableRequired="true">
    <tableNames>
      <add key="sectors" name="yahoo.finance.sectors" />
      <add key="industries" name="yahoo.finance.industry" />
      <add key="quotes" name="yahoo.finance.quotes" />
      <add key="xchangeRates" name="yahoo.finance.xchange" />
    </tableNames>
  </yqlSettings>
</configuration>